*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    background-color: #FAFAFA;
}
/* .bg{
    height: 100%; 
    background-image: url(/images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */
#container{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 500px;
    width: 500px;
    background-color: #F0F0F0;
    /* margin-left: 150px; */
    /* margin-right: 150px; */
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    padding: 30px;
    /* padding-left: 20px; */
    border: solid 2px black;
    border-radius: 5px;
    box-shadow: 3px 3px;
}
h1{
    text-align: center;
    font-size: 30px;
}
#msg-box{
    margin-top: 50px;
}
/* #msg-box textarea:focus{
    outline: 0;
} */
#msg-box textarea{
    font-family: sans-serif;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #FAFAFA;
    width: 100%;
    font-size: 14px;
    padding-top: 2px;
    padding-left: 5px;
    padding-bottom: 150px;
    resize: none;
    overflow: hidden;
}
#pass-box label{
    font-size: 18px;
}
#pass-box{
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    margin-top: 10%;
}
/* #pass-input:focus{
    outline: 0;
} */
#pass-input{
    /* margin-top: 5px; */
    font-family: sans-serif;
    background-color: #FAFAFA;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 14px;
    padding-left: 5px;
    margin-left: 15px;
    height: 25px;
    width: 60%;
}

#buttons{
    margin-top: 10%;
}
.btn{
    height: 30px;
    width:70px;
    border: 1.2px solid black;
    border-radius: 5px;
    background-color: #FAFAFA;
}
.btn:hover{
    cursor: pointer;
}
.btn-decrypt{
    margin-left: 10px;
}
.btn-file{
    height: 30px;
    width:50%;
    border: 1.2px solid black;
    border-radius: 5px;
    background-color: #FAFAFA;
    margin-left: 60px;
}
.btn-file a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-size: 14px;
}

/* --------------MOBILE VIEW------------------ */

@media (max-width: 767px){
    #container{
        position: absolute;
        top: 50%;
        left: 50%;
        height: 550px;
        width: 80%;
        transform: translate(-50%,-50%);
        display: flex;
        flex-direction: column;
        padding: 30px;
        border: solid 2px black;
    }
    h1{
        text-align: center;
        font-size: 22px;
    }
    #msg-box{
        margin-top: 50px;
    }
    #msg-box textarea:focus{
        outline: 0;
    }
    #msg-box textarea{
        font-family: sans-serif;
        width: 100%;
        font-size: 12px;
        padding-top: 2px;
        padding-left: 5px;
        padding-bottom: 150px;
        border: 1px solid black;
        resize: none;
        overflow: hidden;
    }
    /* #pass-box label{
        font-size: 12px;
        font-weight: 500;
    } */
    #pass-box{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        /* margin-top: 30px; */
    }
    #pass-input:focus{
        outline: 0;
    }
    #pass-input{
        /* margin-top: 5px; */
        font-family: sans-serif;
        border: 1px solid black;
        font-size: 12px;
        padding-left: 5px;
        margin-top: 15px;
        margin-left: 0px;
        height: 25px;
        width: 100%;
    }
    #buttons{
        margin-top: 30px;
    }
    .btn-file{
        display: block;
        height: 30px;
        width: 155px;
        border: 1.1px solid black;
        border-radius: 5px;
        background-color: #FAFAFA;
        margin-left: 0px;
        margin-top: 15px;
    }
    .btn-file a{
        text-decoration: none;
        color: black;
        font-family: sans-serif;
        font-size: 14px;
    }
}